<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Title</string>
	<key>Extension Description</key>
	<string>Format Title Case.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.title</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Image File</key>
			<string>title.png</string>
			<key>Shell Script File</key>
			<string>title.sh</string>
			<key>Title</key>
			<string>Title</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Templates: Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>