<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Open in Safari ⚡︎</string>
	<key>Extension Description</key>
	<string>Enhanced Open in Safari.</string>
	<key>Extension Identifier</key>
	<string>com.clockcycles.popclip.extension.en-open-in-safari</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>safari.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurls</string>
			</array>
			<key>Shell Script File</key>
			<string>open-in-safari.sh</string>
			<key>Title</key>
			<string>Open in Safari ⚡︎</string>
		</dict>
	</array>
	<key>Blocked Apps</key>
	<array>
		<string>com.apple.Safari</string>
	</array>
</dict>
</plist>