<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>JavaScript</string>
	<key>Extension Description</key>
	<string>Search JavaScript MDN.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.javascript</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>JavaScript</string>
			<key>Image File</key>
			<string>javascript.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>URL</key>
			<string>https://developer.mozilla.org/en-US/search?topic=js&amp;q={popclip text}</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle ©18</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Template(s): Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>