<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Paste + Enter︎</string>
	<key>Extension Description</key>
	<string>Paste and Enter.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.paste-enter</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Paste + Enter</string>
			<key>Image File</key>
			<string>pasteenter.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.*$</string>
			<key>Before</key>
			<string>paste</string>
			<key>Key Combo</key>
			<dict>
				<key>keyCode</key>
				<integer>36</integer>
				<key>modifiers</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle ©18</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Template(s): Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>