<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Paste</string>
	<key>Extension Description</key>
	<string>Paste.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.paste</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Paste</string>
			<key>Image File</key>
			<string>paste.png</string>
			<key>Regular Expression</key>
			<string>(?s)^$</string>
			<key>Stay Visible</key>
			<true/>
			<key>Requirements</key>
			<array>
				<string>paste</string>
			</array>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<integer>V</integer>
				<key>modifiers</key>
				<integer>1048576</integer>
			</dict>
		</dict>
		<dict>
			<key>Requirements</key>
			<array>
				<string>cut</string>
			</array>
			<key>Title</key>
			<string>Paste</string>
			<key>Image File</key>
			<string>paste.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<integer>V</integer>
				<key>modifiers</key>
				<integer>1048576</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>