<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Terminal</string>
	<key>Extension Description</key>
	<string>Run Command in Terminal.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.terminal</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>terminal.applescript</string>
			<key>Image File</key>
			<string>terminal.png</string>
			<key>Title</key>
			<string>Terminal</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle ©18</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Template(s): Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>