<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>PHP</string>
	<key>Extension Description</key>
	<string>Search PHP Manual.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.php</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>php.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>PHP</string>
			<key>URL</key>
			<string>https://www.php.net/manual-lookup.php?pattern={popclip text}</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Templates: Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>