<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Open in Chrome ⚡︎</string>
	<key>Extension Description</key>
	<string>Enhanced Open in Chrome.</string>
	<key>Extension Identifier</key>
	<string>com.clockcycles.popclip.extension.en-open-in-chrome</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>chrome.png</string>
			<key>Requirements</key>
			<array>
				<string>httpurls</string>
			</array>
			<key>Shell Script File</key>
			<string>open-in-chrome.sh</string>
			<key>Title</key>
			<string>Open in Chrome ⚡︎</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Check Installed</key>
			<true/>
			<key>Bundle Identifier</key>
			<string>com.google.Chrome</string>
			<key>Link</key>
			<string>https://www.google.com/chrome</string>
			<key>Name</key>
			<string>Google Chrome</string>
		</dict>
	</array>
	<key>Blocked Apps</key>
	<array>
		<string>com.google.Chrome</string>
	</array>
</dict>
</plist>