<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Linux</string>
	<key>Extension Description</key>
	<string>Search Linux Kernel.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.linux</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>linux.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>Linux</string>
			<key>URL</key>
			<string>https://www.kernel.org/doc/html/latest/search.html?q={popclip text}</string>
		</dict>
	</array>
</dict>
</plist>
