<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Signature</key>
	<data>
	BKga7i0oYQ+5ooVYFnccXP+MBvSQnoQM+mpLfin6USgjHrkWoIk+pooVEpC+nXVaL+hD
	BX2w0pOVVopkWZ76DehscPAr8hWRd9kfk6kibBhvIp8HFb38iJKiGMSfkGTResMRmyhd
	3CDMCyOOGwVrqWzA3TV9/uQC8fpkxt9c2H4=
	</data>
</dict>
</plist>
