<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Discussions</string>
	<key>Extension Description</key>
	<string>Search Apple Discussions Communities.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.discussionssearch</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>apple-o.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>Discussions</string>
			<key>URL</key>
			<string>https://discussions.apple.com/search/?q={popclip text}</string>
		</dict>
	</array>
</dict>
</plist>