<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Support</string>
	<key>Extension Description</key>
	<string>Search Apple Support.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.support</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>support.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,200}$</string>
			<key>Title</key>
			<string>Support</string>
			<key>URL</key>
			<string>https://support.apple.com/kb/index?page=search&amp;currentPage=1&amp;includeArchived=true&amp;locale=en_US&amp;q={popclip text}</string>
		</dict>
	</array>
</dict>
</plist>
