<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Copy︎</string>
	<key>Extension Description</key>
	<string>Copy.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.copy</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Copy</string>
			<key>Image File</key>
			<string>copy.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>