<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Body</string>
	<key>Extension Description</key>
	<string>Format Body.</string>
	<key>Extension Identifier</key>
	<string>com.icycles.popclip.extension.body</string>
	<key>Extension Image File</key>
	<string>body.png</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Body</string>
			<key>Image File</key>
			<string>body.png</string>
			<key>Key Combo</key>
			<dict>
				<key>keyChar</key>
				<string>B</string>
				<key>modifiers</key>
				<integer>1179648</integer>
			</dict>
		</dict>
	</array>
	<key>Requirements</key>
	<array>
		<string>formatting</string>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>iCycles Extensions &amp; App Customizations: Jay Castle</string>
			<key>Link</key>
			<string>mailto:jay@icycl.es</string>
			<key>Name</key>
			<string>PopClip Package Templates: Nick Moore et al.</string>
			<key>Link</key>
			<string>https://github.com/pilotmoon/PopClip-Extensions#the-popclipext-package</string>
		</dict>
	</array>
</dict>
</plist>